
:root {
	--clr-normal-green:   #00A74A;
	--clr-normal-red:     #9F0F17;
	--clr-normal-yellow:  #CCA707;
	--clr-normal-blue:    #094A8F;
	
	--clr-light-green:    #13ff7c;
	--clr-light-red:      #ff4c4c;
	--clr-light-yellow:   #fed93f;
	--clr-light-blue:     #1c8cff;
	
	--clr-border:		  #333333;
	--clr-center:  		  #ECE7EE;

	--clr-counter-bg:	  #32050C;
	--clr-counter-off:	  #430710;
	--clr-counter-on:	  #DC0D29;
	
	--clr-switch: 	      #3193DE;

	--game-size: 48rem;
	--game-border: 1.5rem solid var(--clr-border);
}
/*************************************/
*::before,
*::after {
	box-sizing: border-box;
}
/*************************************/
/* 0. Variáveis
/* 1. Tags
/* 2. Body
/* 3. Game
/*   3.1 Pads
/*   3.2 Center
/*      3.2.1 GUI
/* 4. Footer
/**********************************/

/**********************************/
/* Color Guide:
/* 
/* #00A74A : normal-green
/* #9F0F17 : normal-red
/* #CCA707 : normal-yellow
/* #094A8F : normal-blue
/* #13ff7c : light-green
/* #ff4c4c : light-red
/* #fed93f : light-yellow
/* #1c8cff : light-blue
/* #333333 : gray
/* #ECE7EE : center
/* #32050C : counter-color
* #f6d365 : background-yellow
/* #fda085 : orange
/*
/**********************************/
/**********************************/
/* 1. Tags
/**********************************/

/**********************************/
/* 2. Body
/**********************************/
body {
    margin: 0;
    background-color:#4b615e;
    /* rgb(25, 95, 100);*/
}

/**********************************/
/* 3. GamePanel
/**********************************/
.gamePanel {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamePad{
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

/**************************************/
/*Cores para as teclas
/*************************************/

.blue {
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: green;
    border-top-left-radius: 100%;
}

/*Seleçao do mouse*/
/****************************/
.selected {
    opacity: 0.8;
}


/*teste*/
.botao{
	background-color: rgba(0, 0, 0, 50);
	border:none;
	color: white;
	padding: 15px 30px;
	margin-right: 15px;
	font-size: 12px;
	cursor: pointer;
	transition: 3s;
}

.botao:hover{
	background-color: white;
	color: black;
}
